.remote-tab-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .remote-receive-wrapper,
  .remote-control-wrapper {
    width: 50%;
    height: 100%;
    border: 3px rgb(107, 107, 103) solid;
  }
}
