.board-control-panel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  > div {
    flex-grow: 1;
  }

  .score-control-panel-box {
    width: 40%;
    box-sizing: border-box;
    height: 100%;
  }
  .info-panel-box {
    width: 55%;
    box-sizing: border-box;
    height: 100%;
  }
  .remote-pub-box {
    width: 20%;
    box-sizing: border-box;
    height: 100%;
  }
}
