.control-panel-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.timer-control-wrapper {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  height: 100%;
  width: 100%;
}

.board-control-wrapper {
  flex: 1;
}
