@import '../FontVariables.scss';

.board-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    color: #333;
    margin-bottom: 10px;
  }

  .board-control-team-a,
  .board-control-team-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: #fcffed;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 100%;

    .score-control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      button {
        background-color: #4caf50;
        color: rgb(255, 255, 255);
        border: none;
        padding: 10px 15px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }
      }

      .team-radio-button-group {
        display: flex;
        flex-direction: row;
      }

      select {
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 5px;
      }

      .away-check-group {
        display: flex;
        align-items: center;

        .away-check-label {
          margin-right: 10px;
          color: #1d1b1b;
        }

        input[type='checkbox'] {
          width: 20px;
          height: 20px;
        }
      }

      input[type='checkbox'] {
        width: 20px;
        height: 20px;
      }
    }
  }

  .board-control-team-a {
    border-bottom: 2px dashed #ccc;
  }
}
