@import '@styles/FontVariables.scss';

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.injury-time-container.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

.injury-time-container.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

.injury-time-container {
  box-sizing: border-box;
  display: block;
  position: relative;
  top: -10px;
  left: 0;
  padding: 0px;
  margin: 0px;
  z-index: -999; // MainTimeBoard보다 낮은 z-index 설정
  background-color: none;

  > * {
    box-sizing: border-box;
  }

  .injury-time-wrapper {
    margin: 0;
    padding: 0;
    width: 130px;
    max-height: 38px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .injury-timer-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;

      background-color: #d9cdb5;
      width: 83px;
      max-width: 130px;
      flex-shrink: 1;
      flex-grow: 1;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 6px;
      margin: 0;
      z-index: 999;

      .injury-timer {
        box-sizing: border-box;
        > div {
          box-sizing: border-box;
          display: inline-block;
          font-size: 20px;
          color: rgb(41, 33, 33);
          text-align: center;
        }

        .injury-timer-1,
        .injury-timer-2,
        .injury-timer-4,
        .injury-timer-5 {
          width: 13px;
        }
        .injury-timer-3 {
          width: 7px;
        }

        .injury-timer-1 {
          margin-left: 13px;
          text-align: right;
        }
        .injury-timer-5 {
          margin-right: 11px;
          text-align: left;
        }
      }
    }

    .given-injury-time {
      display: flex;
      overflow: hidden;
      background-color: rgb(71, 71, 71);
      font-size: 20px;
      color: rgb(238, 238, 238);

      justify-content: center;
      align-items: center;

      box-sizing: border-box;
      height: 38px;
      padding-top: 10px;
      padding-bottom: 6px;
      padding-right: 2px;
      text-align: center;

      transition: all 0.5s ease-out;
    }
  }
}

.given-injury-time.given-injury-not-filled {
  width: 27px;
}
.given-injury-time.given-injury-filled {
  width: 47px;
}
