@import '@styles/Themes.scss';

.match-name-board-container {
  margin-top: 100px;
  display: block;
  width: auto;
  background-color: $beige-bright2;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px 20px 0 0;
  font-size: 24px;
  box-sizing: border-box;
  height: 43px;
  min-width: 160px;
  text-align: center;

  .match-name-board-flex {
    position: relative;

    .match-name-box {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 7px;
      z-index: -1;
      color: rgb(11, 3, 12);

      .gye-head {
        position: absolute;
        box-sizing: border-box;
        height: 100px;
        left: -110px;
        top: -60px;
        background-color: rgba(0, 0, 0, 0);
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 10px;
        z-index: -1;
        border-radius: 20px 20px 0 0;
      }

      .gye-football {
        position: absolute;
        box-sizing: border-box;
        height: 170px;
        left: -135px;
        top: -105px;
        background-color: rgba(0, 0, 0, 0);
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 10px;
        z-index: -1;
        border-radius: 20px 20px 0 0;
      }

      .gye-mancity {
        position: absolute;
        box-sizing: border-box;
        height: 130px;
        left: -145px;
        top: -90px;
        background-color: rgba(0, 0, 0, 0);
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 10px;
        z-index: 0;
        border-radius: 20px 20px 0 0;
      }
    }
  }
}
