.score-board-container {
  display: inline-block;
  box-sizing: border-box;
  width: 700px;
  height: 90px;
  border: 3px rgb(255, 255, 255) solid;

  .score-board-wrapper {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: row;

    .team-flag-wrapper {
      box-sizing: border-box;
      position: absolute;
      margin: 0;
      padding: 0;
      height: 90px;
      width: 90px;

      // 국기 이미지
      span {
        box-sizing: border-box;
        background-size: 100%;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 5px white solid;
      }
    }

    .team-a-flag-wrapper {
      left: 0;
      transform: translate(-50%, -3px);
    }
    .team-b-flag-wrapper {
      right: 0;
      transform: translate(50%, -3px);
    }

    .team-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding-top: 2px;

      .team-text-wrapper {
        display: flex;
        align-items: center;
        width: 500px;

        .team-text {
          text-wrap: nowrap;
          overflow: hidden;
        }
      }
    }

    .team-a-format,
    .team-b-format {
      box-sizing: border-box;
      width: 50%;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }
}

// .text-outstroke:after {
//   position: absolute;
//   left: 0px;
//   top: 0;
//   content: attr(data-text);
//   color: rgb(0, 0, 0);
//   -webkit-text-stroke: 1px rgb(0, 0, 0);
//   z-index: -1;
// }

.score-text {
  position: relative;
  font-size: 40px;
  z-index: 999;
}
.team-text {
  position: relative;
  font-size: 30px;
  z-index: 999;
}

.team-a-score-wrapper,
.team-b-score-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-basis: 44px;
  flex-grow: 0;
  flex-shrink: 0;
}

.team-a-score-wrapper {
  flex-direction: row;
}

.team-b-score-wrapper {
  flex-direction: row-reverse;
}

.team-a-text-wrapper,
.team-b-text-wrapper {
  box-sizing: border-box;
  flex-basis: 297px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: hidden;
}

.team-a-text-wrapper {
  flex-direction: row;
  padding-left: 62px;
  padding-right: 13px;
}
.team-b-text-wrapper {
  flex-direction: row-reverse;
  padding-left: 13px;
  padding-right: 62px;
}
