@use 'sass:color';

$colors: (
  'nation-kr': (
    'home': rgb(209, 45, 33),
    'away': rgb(75, 72, 77),
  ),
  'nation-bh': (
    'home': rgb(195, 15, 16),
    'away': rgb(200, 185, 185),
  ),
  'nation-my': (
    'home': rgb(160, 160, 50),
    'away': rgb(77, 77, 77),
  ),
  'nation-jo': (
    'home': rgb(236, 232, 232),
    'away': rgb(165, 0, 0),
  ),
  'nation-sa': (
    'home': rgb(252, 252, 252),
    'away': rgb(13, 141, 85),
  ),
  'nation-au': (
    'home': rgb(203, 151, 27),
    'away': rgb(33, 14, 77),
  ),
  'nation-jp': (
    'home': rgb(22, 75, 233),
    'away': rgb(224, 224, 225),
  ),
  'nation-ir': (
    'home': rgb(227, 227, 227),
    'away': rgb(231, 22, 22),
  ),

  'epl2324-ars': (
    'home': rgb(168, 25, 25),
    'away': rgb(210, 240, 76),
    'third': rgb(56, 103, 62),
  ),
  'epl2324-ava': (
    'home': rgb(151, 49, 90),
    'away': rgb(236, 235, 239),
    'third': rgb(99, 124, 208),
  ),
  'epl2324-bou': (
    'home': rgb(160, 31, 31),
    'away': rgb(72, 175, 212),
    'third': rgb(211, 200, 37),
  ),
  'epl2324-bre': (
    'home': rgb(206, 16, 16),
    'away': rgb(64, 171, 206),
    'third': rgb(30, 28, 123),
  ),
  'epl2324-brh': (
    'home': rgb(40, 17, 215),
    'away': rgb(47, 149, 93),
    'third': rgb(225, 110, 33),
  ),
  'epl2324-bur': (
    'home': rgb(112, 39, 39),
    'away': rgb(155, 160, 13),
    'third': rgb(68, 89, 156),
  ),
  'epl2324-che': (
    'home': rgb(36, 70, 191),
    'away': rgb(28, 30, 84),
    'third': rgb(98, 168, 206),
  ),
  'epl2324-cry': (
    'home': rgb(172, 69, 69),
    'away': rgb(211, 224, 229),
    'third': rgb(75, 75, 79),
  ),
  'epl2324-eve': (
    'home': rgb(54, 75, 142),
    'away': rgb(238, 77, 71),
    'third': rgb(130, 131, 156),
  ),
  'epl2324-ful': (
    'home': rgb(229, 226, 226),
    'away': rgb(186, 16, 149),
    'third': rgb(87, 62, 90),
  ),
  'epl2324-liv': (
    'home': rgb(228, 48, 48),
    'away': rgb(114, 159, 114),
    'third': rgb(161, 95, 197),
  ),
  'epl2324-lut': (
    'home': rgb(219, 60, 35),
    'away': rgb(236, 236, 236),
    'third': rgb(42, 33, 93),
  ),
  'epl2324-mci': (
    'home': rgb(90, 156, 200),
    'away': rgb(238, 236, 238),
    'third': rgb(14, 45, 72),
  ),
  'epl2324-mun': (
    'home': rgb(205, 18, 18),
    'away': rgb(51, 102, 90),
    'third': rgb(230, 230, 230),
  ),
  'epl2324-new': (
    'home': rgb(59, 59, 59),
    'away': rgb(26, 157, 148),
    'third': rgb(39, 24, 180),
  ),
  'epl2324-ntg': (
    'home': rgb(188, 25, 25),
    'away': rgb(126, 153, 225),
    'third': rgb(48, 40, 196),
  ),
  'epl2324-shu': (
    'home': rgb(206, 68, 68),
    'away': rgb(206, 203, 52),
    'third': rgb(227, 227, 227),
  ),
  'epl2324-tot': (
    'home': rgb(231, 231, 231),
    'away': rgb(21, 26, 178),
    'third': rgb(138, 112, 91),
  ),
  'epl2324-whu': (
    'home': rgb(166, 54, 97),
    'away': rgb(246, 243, 244),
    'third': rgb(34, 54, 183),
  ),
  'epl2324-wlv': (
    'home': rgb(197, 172, 63),
    'away': rgb(205, 53, 43),
    'third': rgb(22, 146, 199),
  ),

  // 유로 2024
  'euro2024-ger':
    (
      'home': rgb(255, 255, 251),
      'away': rgb(219, 99, 255),
    ),
  'euro2024-sco': (
    'home': rgb(27, 46, 153),
    'away': rgb(236, 236, 250),
  ),
  'euro2024-hun': (
    'home': rgb(219, 57, 57),
    'away': rgb(255, 248, 248),
  ),
  'euro2024-sui': (
    'home': rgb(231, 57, 57),
    'away': rgb(248, 241, 241),
  ),
  'euro2024-esp': (
    'home': rgb(211, 47, 47),
    'away': rgb(227, 236, 176),
  ),
  'euro2024-cro': (
    'home': rgb(255, 251, 251),
    'away': rgb(38, 21, 192),
  ),
  'euro2024-ita': (
    'home': rgb(21, 100, 218),
    'away': rgb(252, 252, 252),
  ),
  'euro2024-alb': (
    'home': rgb(131, 27, 27),
    'away': rgb(245, 241, 241),
  ),
  'euro2024-svn': (
    'home': rgb(252, 247, 247),
    'away': rgb(73, 103, 235),
  ),
  'euro2024-den': (
    'home': rgb(240, 58, 58),
    'away': rgb(252, 244, 244),
  ),
  'euro2024-srb': (
    'home': rgb(165, 52, 52),
    'away': rgb(255, 255, 255),
  ),
  'euro2024-eng': (
    'home': rgb(246, 247, 248),
    'away': rgb(82, 20, 139),
  ),
  'euro2024-pol': (
    'home': rgb(248, 247, 247),
    'away': rgb(226, 53, 53),
  ),
  'euro2024-ned': (
    'home': rgb(231, 108, 26),
    'away': rgb(31, 29, 158),
  ),
  'euro2024-aut': (
    'home': rgb(221, 69, 69),
    'away': rgb(243, 242, 242),
  ),
  'euro2024-fra': (
    'home': rgb(55, 71, 218),
    'away': rgb(219, 219, 224),
  ),
  'euro2024-bel': (
    'home': rgb(143, 34, 48),
    'away': rgb(180, 230, 250),
  ),
  'euro2024-svk': (
    'home': rgb(43, 31, 204),
    'away': rgb(238, 239, 245),
  ),
  'euro2024-rou': (
    'home': rgb(255, 221, 68),
    'away': rgb(182, 19, 19),
  ),
  'euro2024-ukr': (
    'home': rgb(253, 230, 21),
    'away': rgb(34, 88, 235),
  ),
  'euro2024-tur': (
    'home': rgb(248, 239, 239),
    'away': rgb(187, 14, 14),
  ),
  'euro2024-geo': (
    'home': rgb(248, 244, 244),
    'away': rgb(58, 54, 54),
  ),
  'euro2024-por': (
    'home': rgb(177, 18, 18),
    'away': rgb(217, 237, 243),
  ),
  'euro2024-cze': (
    'home': rgb(189, 50, 50),
    'away': rgb(234, 236, 247),
  ),

  'etc-cup': (
    'home': rgb(39, 39, 38),
    'away': rgb(236, 236, 236),
    'third': rgb(236, 236, 236),
  ),
  'etc-ety': (
    'home': rgb(39, 39, 38),
    'away': rgb(236, 236, 236),
    'third': rgb(236, 236, 236),
  ),
  'etc-rmd': (
    'home': rgb(241, 241, 230),
    'away': rgb(36, 49, 94),
    'third': rgb(60, 59, 57),
  ),
  'etc-bvb': (
    'home': rgb(223, 219, 33),
    'away': rgb(45, 46, 53),
    'third': rgb(180, 25, 25),
  ),
);
