@import 'FontVariables';
@import 'Themes';

// 태백체
@font-face {
  font-family: 'TAEBAEKfont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

// 원스토어 모바일고딕 제목체
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

// 오아고딕
@font-face {
  font-family: 'OAGothic-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: $body-background;
  // background-image: url('/assets/testBackground.png');
  margin: 0;
  padding: 0;
}

// body,
// button,
// input,
// textarea {
//   font-family: $font-primary;
// }
