@keyframes slideDown {
  from {
    transform: translateY(-100%); // 시작 위치를 화면 위로 설정
    opacity: 0; // 투명도를 0으로 설정하여 부드럽게 등장하도록 함
  }
  to {
    transform: translateY(0); // 최종 위치를 원래 위치로 설정
    opacity: 1; // 투명도를 1로 설정하여 완전히 보이도록 함
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.injury-time-container.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

.injury-time-container.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

.injury-time-container {
  box-sizing: border-box;
  display: block;
  position: relative;
  top: -10px;
  left: 0;
  padding: 0px;
  margin: 0px;
  width: 130px;
  z-index: -999; // MainTimeBoard보다 낮은 z-index 설정
  background-color: white;

  .injury-time-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: white;

    .injury-timer {
      background-color: #d9cdb5;
      font-size: 20px;
      color: rgb(41, 33, 33);

      width: 65%;
      padding-top: 10px;
      padding-bottom: 6px;
      padding-left: 3px;
      text-align: center;
    }
    .given-injury-time {
      background-color: rgb(71, 71, 71);
      font-size: 20px;
      color: rgb(238, 238, 238);

      width: 35%;
      padding-top: 10px;
      padding-bottom: 6px;
      padding-right: 2px;
      text-align: center;
    }
  }
}
