@import 'FontVariables';

.main-time-container {
  display: flex; /* Flex 컨테이너 설정 */
  flex-direction: column; /* 아이템을 수직 방향으로 정렬 */
  align-items: center; /* 수평으로 중앙 정렬 */
  justify-content: flex-end; /* 수직 방향에서 맨 아래 정렬 */
  position: relative;
  box-sizing: border-box;
  top: -10px;
  left: 0;
  padding: 0px;
  margin: 0px;
  z-index: -1;
  width: 130px; /* 고정 너비 */
  height: 60px; /* 고정 높이 */
}

.main-time-board {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1; /* 부모 요소(main-time-container)의 남은 공간을 모두 채움 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  background-color: #f7f1e3;
  color: rgb(11, 3, 12);
  font-size: 30px;
  width: 100%; /* 너비를 부모와 같게 설정 */
}

.main-time-text {
  margin-bottom: 6px;
}
