$beige-dark1: #423f3b;
$beige-dark2: #4a4642;
$beige-bright1: #d9cdbf;
$beige-bright2: #f7f1e3;
$beige-middle: #a69c94;
$beige-black: #232221;
$beige-back-black: #2f2f2f;

$background-box: #5d5c5a;
$btn-updown: #525252;

$scroll-thumb: #949391;
$scroll-track: #1c1815;
$scroll-thumb-hover: #cbc8c6;

$panel-width-first: 267px;
$panel-width-second: 204px;

$warning-red: #ff1900;
