.board-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 자식 요소들을 가로축 중앙에 정렬 */
}

.board-container-fixer {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: -10px;
  transform: translate(70px, 0);
}

.control-container-fixer {
  position: fixed;
  box-sizing: border-box;
  width: 820px;
  height: 360px;
  left: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 10px;
  transform: translate(10px, -10px);
  background-color: rgb(240, 240, 238);
}
