.time-board-container {
  display: block;
  position: relative;
  top: -10px;
  left: 0;
  padding: 0px;
  margin: 0px;

  .flex-wrapper-1 {
    display: flex;
    flex-direction: row;

    .time-board {
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.4em;
      padding-bottom: 0.2em;
      background-color: #1d7eb6;

      border-radius: 15px;

      font-family: 'TAEBAEKfont';
      color: white;
      font-size: 30px;
    }
  }
}
