@import 'FontVariables';

.timer-control-panel-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  * {
    flex-grow: 1;
  }
}

.match-title-input-box,
.given-injury-input-box {
  display: flex;
  flex-direction: row;

  .index-text {
    width: 100px;
  }
  margin-bottom: 3px;
  border: 1px rgba(0, 0, 0, 0.267) dotted;
  padding: 1px;
  border-radius: 3px;
}

.given-injury-time-input {
  box-sizing: border-box;
}

.timer-time-set-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timer-preset-set-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-time-set-box,
.timer-preset-set-box {
  padding: 5px;
  background-color: #faf7df;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 5px beige solid;
  box-sizing: border-box;

  .main-timer-box,
  .injury-timer-box {
    display: flex;
    flex-direction: row;
    align-items: end;

    .timer-box-index {
      width: 100px;
    }

    .minsec-set-box {
      .minsec-button-box {
        button {
          font-size: 10px;
          padding-left: 2px;
          padding-right: 2px;
        }
      }
    }

    .seconds-set-box {
      margin-right: 10px;
    }

    input {
      box-sizing: border-box;
      background-color: rgb(120, 228, 147);
      border: 0;
      border-radius: 5px;
      width: 50px;
      height: 30px;
      font-size: 16px;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
    }

    .playbtn-set-box {
      width: 100px;
    }
  }
}

.gametime-preset-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; // end 시 오른쪽에 preset 들 붙음
  justify-content: center;

  .wait-buttons,
  .start-buttons,
  .overtime-start-buttons {
    button {
      margin-left: 3px;
      background-color: rgb(73, 75, 87);
      transition-property: background-color, border-radius;
      border-radius: 0;
      transition-duration: 0.1s;
      cursor: pointer;
      color: white;
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
    }
    button:hover {
      background-color: rgb(25, 41, 114);
      border-radius: 3px;
    }
  }
}

// input type=number 증감 화살표 제거
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
