@import '@styles/Themes.scss';

.timer-title-box {
  display: flex;
  flex-direction: column;
}

.match-title-set-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgb(133, 132, 130);
  box-shadow: $beige-back-black 0px 0px 2px 1px;

  .timer-title-box {
    .match-title-text-index {
      box-sizing: border-box;
      font-size: 14px;
      text-align: start;
      box-sizing: border-box;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 10px;
      background-color: $beige-back-black;
      color: $beige-bright2;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .match-title-text-input {
      box-sizing: border-box;
      width: 100%;
      padding: 4px;
      font-size: 16px;
      border: $beige-bright1 1px solid;
      border-radius: 8px;
      background-color: $beige-dark2;
      color: white;
    }
    .match-title-text-input::placeholder {
      color: $beige-middle;
    }
  }
}

.match-title-input-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
